ion-content {
    --background: white;
}

ion-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    --background: #f7ffdd;
    border-radius: 20px;
}

ion-button{
    --background: #563124;
    --color: #F7FFDD;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 26px;


}


ion-input{
    font-size: 12.5px;
}

img{
    width: 180px;
    margin: 0px;

}

.image{
    display: flex;
    justify-content: center;
}

ion-label{
    font-weight: bold;
   white-space: normal;
}

ion-item{
    --background: #f7ffdd;
}