img{
    width: 200px;
    
    
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    flex-direction: column;
  
}

ion-spinner{
    margin-top: 30px;
}
