
img{
   width: 350px;
   height: 150px;
}

ion-card{
    

    ion-button{
        width: 150px;
        color:#563124 ;
    
    }
}

ion-card{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

