.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    img{
        width: 180px;
    }
    ion-input{
        width: 210px;
    }
    ion-button{
        margin: 0;
        padding: 0;
        width: 210px;
        font-weight: bold;
        --background: #563124;
        --color: #F7FFDD;
        margin-top: 10px;
    }
    p{
        width: 210px;
        font-size: 12px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}
ion-card{
    --background: #F7FFDD;
}
ion-item{
    --background: #F7FFDD;
}