<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-content>
        <div class="flex-center">
          <img src="../assets/shelves-logo.png" alt="Shelves logo">
          <ion-button shape="round" size="full" fill="outline" (click)="signup()">Sign up</ion-button>
          <ion-button class="full-color" shape="round" size="full" style="margin-bottom: 26px;" (click)="login()">Login</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
