.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    img{
        width: 180px;
        margin-bottom: 0px;
    }
    ion-input{
        width: 210px;
    }
    ion-button{
        margin: 0;
        padding: 0;
        width: 210px;
        font-weight: bold;
        --color: #563124;
    }
    .login{
        --background: #563124;
        --color: #F7FFDD;
    }
    .button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        padding: 0;
    }
}
ion-card{
    --background: #F7FFDD;
}
ion-item{
    --background: #F7FFDD;
}