<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-content>
        <div class="flex-center">
          <img src="../assets/shelves-logo.png" alt="Shelves logo">
          <ion-item lines="inset">
            <ion-label position="stacked" type="email">Email:</ion-label>
            <ion-input placeholder="Enter email"></ion-input>
          </ion-item>
          <ion-item lines="inset">
            <ion-label position="stacked">Password:</ion-label>
            <ion-input placeholder="Enter password" type="password"></ion-input>
          </ion-item>
          <div class="button">
            <ion-button shape="round" class="login" (click)="presentAlert()">Take me to Shelves!</ion-button>
            <ion-button shape="round" slot="start" style="font-weight: normal; text-transform: none; font-size: 12px; margin-top: 0;" fill="none">I forgot my password.</ion-button>
            <ion-button shape="round" slot="start" style="font-weight: normal; text-transform: none; font-size: 12px; margin-top: 0; width: 100%; margin-bottom: 23px;" fill="none"><ion-icon name="logo-google" style="font-size: large; margin-right: 5px;"></ion-icon>I will use my Google Mail!</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
