<ion-header>
  <ion-toolbar>
    <div class="flex-center">
      <ion-menu-button></ion-menu-button>
      <ion-title>My Shelves</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar show-clear-button="focus" placeholder="Search your subject"></ion-searchbar>
  <ion-card>
    <img alt="Silhouette of mountains" src="../assets/programming.jpg" />
    <ion-card-header>
      <ion-card-title>IT312</ion-card-title>
      <ion-card-subtitle>Integrative Programming and Technologies</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Instructor: Mr. Ian Val Delos Reyes
    </ion-card-content>
    <ion-button (click)="seeDetails()">See more...</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../assets/plat-tech.jpg" />
    <ion-card-header>
      <ion-card-title>ITELECT4</ion-card-title>
      <ion-card-subtitle>Platform Technologies</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Instructor: Mrs. Jonilyn Dabalos
    </ion-card-content>
    <ion-button>See more...</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../assets/networking.jpg" />
    <ion-card-header>
      <ion-card-title>IT211</ion-card-title>
      <ion-card-subtitle>Networking 2</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Instructor: Mr. Jumar Buladaco
    </ion-card-content>
    <ion-button>See more...</ion-button>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
